{#
Copyright 1996 - 2024 by Eric House (xwords@eehouse.org).  All rights
reserved.

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License as
published by the Free Software Foundation; either version 2 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA
02111-1307, USA.
#}

{% extends "base.html" %}
{% block content %}


<H1>Fixed Innovations&#39; Page</H1>

<P>
Fixed Innovations is a small web-only business selling special eccentric
axles that increase the number of usable gears when a frame with vertical
dropouts is used as a fixed-gear or single-speed.
</P>

<P>
We also sell hubs for fixed-gears and single-speeds, quick-releases for
those hubs, and Craig's SuperLinks to make chain swapping easier.  That's
all we sell: we&#39;re not interested in competing with your local shop in
the areas where they have expertise.
</P>

<P>
For a description of our products, see our <A HREF="{{url_for('fixin.products') }}">products
page</A>.
</P>

<P> To order from Fixed Innovations, please see our <A
HREF="{{ url_for('fixin.order') }}">order form</A>.  Or just send <a href="mailto:fixin@eehouse.org">mail</a>.</P>

<P> As always, don&#39;t hesitate to <a href="mailto:fixin@eehouse.org">mail</a> us with any
questions or comments.  </P>

{% endblock %}
