{#
Copyright 1996 - 2024 by Eric House (xwords@eehouse.org).  All rights
reserved.

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License as
published by the Free Software Foundation; either version 2 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA
02111-1307, USA.
#}

{% extends "base.html" %}

{% block content %}


<H1>Fixed-gear cycling links</H1>

<P>Here are links to the web pages of suppliers who still have 'em....</P>


<A HREF="http://www.philwood.com"><IMG SRC="{{url_for('static', filename='img/scriptphil.jpeg')}}" ALT="Phil Wood & Co."></A>

<HR>
<P>...and to other interesting or useful fixed-gear-related sites.</P>

<P>Sheldon Brown's <A HREF="http://www.sheldonbrown.com/fixeda.html">
Fixed gear site.</A></P>

<p><a href="www.fixedwheel.co.uk">www.fixedwheel.co.uk</a></p>

<p><a HREF="http://www.rivendellbicycles.com/">Rivendell Bicycle Works</a></p>

{% endblock %}
