{#
Copyright 1996 - 2024 by Eric House (xwords@eehouse.org).  All rights
reserved.

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License as
published by the Free Software Foundation; either version 2 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA
02111-1307, USA.
#}

{% extends "base.html" %}

{% block content %}

<h3>Source code to <EM>FixMeUp!</EM> and the Fixed Innovations web site</h3>

<p>
This web site and most of the code and text it contains are created
and maintained on (free) GNU/Linux systems. In the spirit of the FOSS
community from which I've learned so much, the source of this site,
including of the <em>FixMeUp!</em> calculator, is
available <a href="https://github.com/eehouse/fixmeup">here, on
Github</a>
(under <a href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.html">Version
2.0 of the GPL</a>.) Comments are sparse, but I hope they'll be of use
to someone.
</p>

<p>I'll happily take merge requests for those who want to improve the
site. And suggestions as well, of course.</p>

{% endblock %}
