{#
Copyright 1996 - 2024 by Eric House (xwords@eehouse.org).  All rights
reserved.

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License as
published by the Free Software Foundation; either version 2 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA
02111-1307, USA.
#}

{% extends "base.html" %}

{% block content %}


<H1>Why ride a fixed gear?</H1>

<p>
This is a difficult question to answer on as impersonal a medium
as the Web.  The best analogy I've been able to come up with is that
riding a multi-speed bike -- and especially one with index shifting --
is like driving a car with an automatic transmission.  Riding a fixed-gear
bike (or a single speed, to a lesser extent) is like driving a sports car
with a manual transmission.  Other than on a freeway during rush hour....
</p>

<p>
Riding fixed puts you closer to the pavement.  You <EM>know</EM> when
the road turns up or down.  Simple maneuvers like turning require that
you concentrate fully on your relationship with the bike.
</p>

<p>
Riding fixed is an incredible workout.  Think for a minute how
often you coast during a ride.  On a fixed gear, you can&#39;t coast.  Ever.
If you don't use your brakes (a strategy I no longer advocate: it's pretty
hard on the knees), downhills become the toughest part of your rides.
</p>

<p>
The first time I rode fixed, I was hooked.  Maybe that&#39;s why I believe
that experiencing it is the only way to really understand.  Try borrowing
a fixed gear bike from a friend if you can.  You&#39;ll have a hard time
giving it back.
</p>

{% endblock %}
